$color: (
    primary: (
        base: red,
        dark: darken(red, 20%),
        light: lighten(red, 20%)
    ),
    secondary: (
        base:blue,
        dark:darken(blue,20%),
        light:lighten(blue,20%)
    )
);

nav {
    ul {
        margin:0;
        padding:0;
        list-style:none;
    }
    li {
        display:inline-block;
    }
    a {
        display: block;
        padding:5px 10px;
        text-decoration: none;
        &:hover {
            color:white;
        }
    }
}

body {
    margin:0;
}

h1 {
    color:map-get(map-get($color, primary), dark)
}

#Main_Box {
    display:flex;
    flex-wrap:wrap;
    background-color:purple;
}

#Small_Box1 {
    width:50%;
    height:100vh;
    background-color:red;
}